[Unit]
Description=Grab data from Live LCS games
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/opt/live_game
ExecStart=/opt/treadstone/livegame.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
