[Unit]
Description=Grab data from Live LCS games
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/treadstone/live_game_data
ExecStart=/opt/treadstone/bin/livegame.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
